

$primary: #0065b0;


// Body color
$body-color:#f4f7fc;

// Btn Shadow color
$shadow-color:rgba(0, 0, 0, 0.16);

// Card Shadow
$card-shadow: rgba(160, 160, 160, 0.16);

// Top bar
$top-shadow:rgba(0, 0, 0, 0.06);

//Footer Shadow
$footer-shadow:rgba(0, 0, 0, 0.09);

/*Theme Color */
$white:#fff;
$black:#000;
$dark: #343a40;
$muted:#6c757d;

$success:#59b46e;
$danger: #e82424;
$warning:#ffc107;
$muted:#d8d8d8;

// Border Color
$border-color:#eaebf0;
$input-border:#a7a7a7;