

$primary: #2e87c7;
$secondery: #e73638;
$font-color: #333333;
$had-font-color:#094D85;


// Body color
$body-color:#f4f7fc;

// Btn Shadow color
$shadow-color:rgba(0, 0, 0, 0.16);

// Card Shadow
$card-shadow: rgba(160, 160, 160, 0.16);

// Top bar
$top-shadow:rgba(0, 0, 0, 0.06);

//Footer Shadow
$footer-shadow:rgba(0, 0, 0, 0.09);

/*Theme Color */
$white:#fff;
$black:#000;
$dark: #343a40;
$muted:#6c757d;
$click-active: #60b0ea;

$success:#59b46e;
$danger: #e82424;
$warning:#ffc107;
$muted:#d8d8d8;

$loyalty-bg:#014181;
$cashback-bg: #F26221;
$points-bg: #EE1D23;
$points-eligible:#00AEEF;

// Border Color
$border-color:#eaebf0;
$input-border:#a7a7a7;
$fot-bd:#DFE1E6;

// Status btn color
$approved: #1DCD39;
$pending: #FF991F;
$rejected: #E73638;


$card-border-color:#c2c2c2;
$card-font-color: #333333;

$tab-bg:#f4f5f7;

$gray-bg:#F4F5F7;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

