<div class="customer-profile">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <h2> Additional Information</h2>
                <div class="personal-details m-t-30">
                    <p>Please fill in the additional information</p>

                    <form>
                        <mat-form-field appearance="fill">
                            <mat-label>Name as per PAN</mat-label>
                            <input matInput>
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label>PAN Number</mat-label>
                            <input matInput>
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label>Customer Category</mat-label>
                            <mat-select>
                                <mat-option value="one">dolor sit-1</mat-option>
                                <mat-option value="two">dolor sit-2</mat-option>
                              </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label>Company Name</mat-label>
                            <input matInput type="text">
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label>Company Details</mat-label>
                            <input matInput type="text">
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label>Gross Salary</mat-label>
                            <input matInput type="number">
                        </mat-form-field>
                    </form>
                    <button routerLink="/dashbord/transaction-details">></button>
                </div>


            </div>
        </div>
    </div>
</div>
