<div class="redemption">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <h2>Redemption</h2>

                <div class="total-pay-balance">
                    <p>Total Pay Balance</p>
                    <h6>Rs. 87.92</h6>
                    <div class="balance-list">
                        <div>
                            <h5>Total Redeemable points:</h5>
                        </div>
                        <div>
                            <h5>4382</h5>
                        </div>
                    </div>
                    <div class="balance-list">
                        <div>
                            <h5>
                                All time reward points earned:
                            </h5>
                        </div>
                        <div>
                            <h5>8732</h5>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<div class="summary">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="row gx-0">
                    <h3>Redeem Your Points</h3>
                    <div class=" col-6 col-md-6 col-lg-4 col-xl-4 m-b-8">
                        <div class="summary-inner quick">
                            <div>
                                <p>Cashback
                                </p>
                            </div>
            
                        </div>
                    </div>
                    <div class=" col-6 col-md-6 col-lg-4 col-xl-4 m-b-8">
                        <div class="summary-inner quick">
                            <div>
                                <p>Mobile Recharge</p>
                            </div>
            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <button routerLink="/dashbord/cashback-mode">></button>
 
</div>