
<mat-toolbar>
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    Responsive side navigation
   
</mat-toolbar>

<mat-sidenav-container>
    <!-- <mat-sidenav mode="side" opened> with side-->
        <!-- <mat-sidenav mode="over"> with side out-->
    <mat-sidenav #sidenav="matSidenav">
        <img class="avatar mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200" />

        <h4 class="name">John Smith</h4>
        <p class="designation">Software Engineer</p>

        <mat-divider></mat-divider>

        <aside>
            <div class="side-bar-nav">
                <nav id="nav">
                    <ul class="mainmenu clearfix">
                        <li>
                            <button mat-button class="menu-button">
                                <mat-icon>how_to_reg</mat-icon>
                                <span>My Profile </span>
                            </button>
                        </li>
                        <li>
                            <button mat-button class="menu-button">
                                <mat-icon>work</mat-icon>
                                <span>My Cases</span>
                            </button>
                        </li>
                        <li>
                            <button mat-button class="menu-button">
                                <mat-icon>build</mat-icon>
                                <span>Admin</span>
                            </button>
                            <ul class="submenu">
                                <li>
                                    <button mat-button class="menu-button">
                                        <span>User Master</span>
                                    </button>
                                </li>
                                <li>
                                    <button mat-button class="menu-button">
                                        <span>Dashboard</span>
                                    </button>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <button mat-button class="menu-button">
                                <mat-icon>supervisor_account</mat-icon>
                                <span>Support</span>
                            </button>
                            <ul class="submenu">
                                <li>
                                    <button mat-button class="menu-button">
                                        <span>Case Allocation</span>
                                    </button>
                                </li>
                                <li>
                                    <button mat-button class="menu-button">
                                        <span>Similar cases</span>
                                    </button>
                                </li>
                                <li>
                                    <button mat-button class="menu-button">
                                        <span>Knowledgebase</span>
                                    </button>
                                </li>
                            </ul>
                        </li>


                    </ul>
                    <!-- 
                    <ul class="mainmenu clearfix">
                        <li>
                            <button><span>Product Configrator</span>
                                <img src="images/profile_arrow.svg" alt="Menu">
                            </button>
                            <ul class="submenu">
                                <li>
                                    <button class="active"><img src="images/select_user.svg"
                                            alt="Rate Card">Rate
                                        Card</button>
                                </li>
                                <li>
                                    <button><img src="images/channel.svg" alt="Packages">Packages</button>
                                </li>
                                <li>
                                    <button><img src="images/combos.svg" alt="Combos">Combos</button>
                                </li>
                                <li>
                                    <button><img src="images/user.svg" alt="Schemes">Schemes</button>
                                </li>
                                <li>
                                    <button><img src="images/simulator.svg"
                                            alt="Simulator">Simulator</button>
                                </li>
                            </ul>
                        </li>
                    </ul> -->
                </nav>
            </div>
        </aside>

        <!-- <button mat-button class="menu-button">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>person</mat-icon>
            <span>Profile</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>info</mat-icon>
            <span>About</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
            <mat-icon>help</mat-icon>
            <span>Help</span>
        </button> -->
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            Main content here!
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>