
@import "/src/assets/scss/import";

mat-toolbar {
    background: #004a9f;
    color: white;
}

mat-sidenav-container {
    height: calc(100vh - 65px);

    mat-sidenav {
        margin: 16px;
        width: 200px;
        border-right: none;
        background: #002b5c;
        color: white;
        border-radius: 10px;
        padding: 16px;
        text-align: center;

        .avatar {
            margin-top: 16px;
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }

        .name {
            margin-top: 8px;
            font-weight: normal;
        }

        .designation {
            margin-top: 2px;
            font-size: 0.7rem;
            color: lightgrey;
        }
        .menu-button {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: 1rem;

            mat-icon {
                margin-right: 8px;
            }
        }
        mat-divider {
            margin-top: 16px;
            margin-bottom: 16px;
            background-color: rgba(255, 255, 255, 0.5);
        }
        .side-bar-nav {

            nav {
               ul{
                  padding: 0;
               }
                .mainmenu {
        
                    button {
                        width: 100%;
                        text-align: left;
                        color: #fff;
                        display: block;
                        padding:0 $base-size*8 0 $base-size*10;
                        line-height:$base-size*20;
        
                        &:first-child {
                            border-bottom: $base-size*0.1 solid blue;
                        }
        
                        img {
                            float: right;
                            padding: $base-size*9 0 0 0;
                        }
                    }

                    li{
                        button{
                           span{
                              font-size: $base-size*7;
                              font-weight: normal;
                           }
                        }
                    }
        
                    li:hover .submenu {
                        display: block;
                        max-height: $base-size*100;
                    }                
        
                    .submenu {
                        overflow: hidden;
                        max-height: 0;
                        -webkit-transition: all 0.5s ease-out;

      
                        button {
                            background: #4978bb;
                            color: #fff;
                            padding-left: $base-size*28;
                            border-radius: 0;
        
                            &:hover {
                                background: $primary;
                                color: #fff;
                                line-height: $base-size*20;
                            }
        
                            img {
                                float: left;
                                padding: $base-size*8 $base-size*8 0 $base-size*5;
                            }
                        }
                    }
                }
            }
        }
    }
}
mat-sidenav-content {
    .content {
        height: calc(100vh - 98px);
        border-radius: 10px;
        margin: 16px;
        margin-left: 32px;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 2rem;
        color: lightgray;
    }
}
          