<div class="login-mobile">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="enter-mobile">
                    <div class="p-l-15 p-r-15">
                        <p>For additional security, please enter
                            your Passcode.</p>
                        <div class="mobile-otp">
                            <div class="security">
                                <form>
                                    <!-- <label class="form-label">Passcode</label> -->
                                    <input type="Name" class="form-control">
                                </form>
                            </div>
                            <p>Forgot your PIN?</p>
                            <p>Sign in with another account</p>
                        </div>
                        <div class="next">
                            <button class="theme-btn" mat-button routerLink="/dashbord/request-amount">DONE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  