<div class="language">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">

                <h2>Choose Your Preferred</h2>
                <h1>Language</h1>
                <div class="row gx-0 gy-4">
                    <div class=" col-6 col-md-6 col-lg-4 col-xl-4">
                        <div class="language-inn">
                            <button  routerLink="/login-mobile">English</button>
                        </div>
                    </div>
                    <div class=" col-6 col-md-6 col-lg-4 col-xl-4 ">
                        <div class="language-inn">
                            <button>Hindi
                                <span>हिंदी</span>
                            </button>
                        </div>
                    </div>
                    <div class=" col-6 col-md-6 col-lg-4 col-xl-4 ">
                        <div class="language-inn">
                            <button>Telugu
                                <span>తెలుగు</span>
                            </button>
                        </div>
                    </div>
                    <div class=" col-6 col-md-6 col-lg-4 col-xl-4 ">
                        <div class="language-inn">
                            <button>Tamil
                                <span>தமிழ்</span>
                            </button>
                        </div>
                    </div>
                    <div class=" col-6 col-md-6 col-lg-4 col-xl-4 ">
                        <div class="language-inn">
                            <button>Gujrati
                                <span>ગુજરાતિ</span>
                            </button>
                        </div>
                    </div>
                    <div class=" col-6 col-md-6 col-lg-4 col-xl-4 ">
                        <div class="language-inn">
                            <button>Kannada
                                <span>ಕನ್ನಡ</span>
                            </button>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>



</div>