<div class="transaction-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <h2>Loyalty Statements</h2>
                <div class="transaction">
                    <div class="filter m-b-24">
                        <form action="">
                            <div class="m-t-12">
                                <span><img src="/assets/images/icons/filter_list.svg" width="18" alt="filter"></span>
                                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Filter">
                            </div>
                        </form>
                    </div>

                    <button routerLink="/login-mobile">></button>

                    <div class="row gx-1">
                        <div class="col-md-12 col-lg-12 col-xl-6" *ngFor=" let data of month">
                            <div class="cash">
                                <h6>10 January 2021</h6>

                                <div class="cash-inner" *ngFor=" let data of list">
                                    <div class="success">
                                        <div class="flex-1">
                                            <button><img src="assets/images/icons/check.png" width="12" alt="check">
                                                Success</button>
                                            <!-- <button><img src="assets/images/icons/close.png" width="10" alt=""> Failure</button> -->
                                        </div>
                                        <div class="flex-1 text-end">
                                            <!-- <h5>Transaction ID: xxxxxxxxx</h5> -->
                                        </div>
                                    </div>
                                    <div class="cash-card">
                                        <div class="cash-withdrawal">
                                            <div class="flex-1">
                                                <h3>Mini Statement</h3>
                                            </div>
                                            <div class="flex-1 text-end">
                                                <h3>+550 points</h3>
                                            </div>
                                        </div>
                                        <div class="cash-withdrawal">
                                            <div class="flex-1 ">
                                                <h4>11:36 AM</h4>
                                            </div>
                                            <div class="flex-2 text-end">
                                                <h4>Total Points: xxxxxx</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>





                </div>
            </div>
        </div>
    </div>

</div>