<div class="terms-conditons">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="flex-center">
                    <div>
                        <h2>Terms Conditions</h2>
                        <div class="terms">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt veritatis enim
                                accusantium. Cumque, iure accusantium itaque, est tempore ipsam asperiores officia
                                beatae soluta labore aut alias. Labore voluptate facere suscipit, sunt fuga aliquid
                                nulla, in beatae dolorum repellendus illo! Quibusdam autem, sapiente doloribus, ipsam
                                corporis officia dolores dolorem quam assumenda impedit fuga molestiae, provident
                                aspernatur repellat laborum incidunt amet odit reprehenderit exercitationem unde
                                deserunt illum aperiam! Facere omnis dicta inventore tempora est quisquam repudiandae
                                repellendus ipsam delectus voluptatem, commodi hic dolores consequuntur possimus in
                                dolorum eveniet veritatis voluptate minima. Enim ad veniam amet earum sed voluptatem
                                dolor facilis quam facere, corrupti a fugit provident nostrueum.</p>
                        </div>
                            
                            <div class="terms-footer">
                                <button class="theme-btn" mat-button routerLink="/">Back</button>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>