

<!-- <app-language></app-language> -->
<!-- <app-login-mobile></app-login-mobile>     -->
<!-- <app-terms-conditions></app-terms-conditions> -->
<!-- <app-verification-otp></app-verification-otp> -->
<!-- <app-additional-security></app-additional-security> -->
<!-- <app-setup-profile></app-setup-profile> -->
<!-- <app-your-passcode></app-your-passcode> -->
<!-- <app-successful></app-successful> -->

<!-- <app-responsive-sidenav></app-responsive-sidenav> -->





<router-outlet></router-outlet>






































