<div class="successful">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                
                <button routerLink="/dashbord/application-status">></button>
                
                <div class="enter-mobile">
                    <div class="p-l-15 p-r-15">
                        <h2>Successful
                        </h2>
                        <p>
                            Your loan application has been passed on to the
                            selected Lender(s). You will be contacted
                            directly for further processing of the
                            application(s).
                        </p>
                        <div class="next">
                            <button class="theme-btn" mat-button routerLink="/">GO BACK TO HOME PAGE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p>successful works!</p>