@import "/src/assets/scss/import";

.customer-profile {
    background-image: url(/assets/images/bg/white-background-1.jpg);
    background-repeat: repeat;
    background-size: 100%;
    min-height: calc(100vh - 0rem);
    padding-bottom: $base-size * 15;
    margin: 0$base-size * 5;
    
    h2 {
        font-size: $base-size*12;
        font-weight: bold;
        padding: $base-size*24 0 $base-size*8 0;
    }
    margin: 0$base-size * 5;
    .pro-img {
        width: 100%;
        text-align: center;
        img {
            width: $base-size * 36;
            height: $base-size * 36;
            border-radius: 50%;
        }

        .edit {
            text-align: center;
            padding: $base-size * 4 0 $base-size * 6 0;
            button {
                font-size: $base-size * 7;
                text-decoration: underline;
            }
        }
    }

    .personal-details {
        position: relative;
        margin-top: $base-size * 7;

        h5 {
            font-weight: bold;
            margin-bottom: $base-size * 15;
            span {
                padding-right: $base-size * 7.5;
            }
        }
        mat-icon {
            color: $primary;
        }
    }
}


@media only screen and (max-width: 768px) {
   
    
}